.no-sidebar {

	.content-area {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	.site-main {
		margin-right: 0;
	}

	.site-main .entry-header > *,
	.site-main .entry-content > *,
	.site-main .entry-footer,
	.site-main .post-navigation > *,
	.site-main .comments-area > * {
		margin-left: $size__site-content-gutter;
		margin-right: $size__site-content-gutter;
	}

	.site-main .entry-content > .alignfull {
		margin-left: 0;
		margin-right: 0;
		width: 100vw;
	}

	/* Mid-sized screens */
	@media screen and (min-width: $breakpoint__medium) {
	
		.site-main .entry-header > *,
		.site-main .entry-content > *,
		.site-main .entry-footer,
		.site-main .post-navigation > *,
		.site-main .comments-area > * {
			margin-left: $size__site-content-gutter-medium;
			margin-right: $size__site-content-gutter-medium;
		}

		.site-main .entry-content > .alignfull {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
			max-width: 100%;
		}
		
	}
	
	/* Max width of standard content (including gutters) */
	@media screen and (min-width: ($breakpoint__site-content-plus-gutters)) {
		
		.site-main .entry-header > *,
		.site-main .entry-content > *,
		.site-main .entry-footer,
		.site-main .post-navigation > *,
		.site-main .comments-area > * {
			margin-left: auto;
			margin-right: auto;
			max-width: $size__site-content;
		}

		// .site-main .entry-content > .alignfull,
		.site-main .entry-content > .alignwide {
			margin-left: $size__site-content-gutter-medium;
			margin-right: $size__site-content-gutter-medium;
			max-width: 100%;
		}

		.site-main .entry-content > .alignfull {
			margin-left: 0;
			margin-right: 0;
			width: 100vw;
		}

	}

	/* Max width of alignwide content (including gutters) */
	@media screen and (min-width: ($breakpoint__alignwide-plus-gutters)) {
	
		.site-main .entry-content > .alignwide {
			margin-left: auto;
			margin-right: auto;
			max-width: $size__alignwide;
		}
	
	}

}