/* Places the site branding (logo, title and description)
	on a single line */

.site-header {
	
	.site-branding {
		float: left;
		
		.inner {

			/* Max width of site branding content */
			@media screen and (min-width: $size__site-branding-content + ($size__site-branding-gutter-medium * 2)) {
				/* Fix zero left-margin when branding is floated inline */
				margin-left: $size__site-branding-gutter-medium;
			}

		}
		
		.site-logo {
			margin-right: 1.5em;

			img {
				height: $height__site-header-mobile - 20px;
				width: $height__site-header-mobile - 20px;
			}
		}

		.site-logo {
			float: left;
			line-height: $height__site-header-mobile - 20px;
		}

		.site-title-container {
			float: left;
			line-height: $height__site-header-mobile;
		}

		.site-title,
		.site-description {
			margin: 0;
			float: left;
		}

		.site-title {
			font-size: 1.5em;
			margin-right: 1em;
		}
	}

	.site-login {
		float: right;
		line-height: $height__site-header-mobile;
		margin-right: 70px; /* leave room for the mobile menu toggle */

		/* Mobile menu breakpoint */
		@media screen and (min-width: $breakpoint__menu) {
			line-height: $height__site-header-inline;
			margin-right: $size__site-branding-gutter;
		}

		/* Medium screen size */
		@media screen and (min-width: $breakpoint__medium) {
			margin-right: $size__site-branding-gutter-medium;
		}
	}

	@media screen and (min-width: $breakpoint__menu) {

		.site-branding {

			.site-logo img {
				height: $height__site-header-inline - 20px;
				width: $height__site-header-inline - 20px;
			}

			.site-logo {
				line-height: $height__site-header-inline - 20px;
			}
			
			.site-title-container {
				line-height: $height__site-header-inline;
			}
		}
	}
}

.scrolled-50 {
	.site-header {
		@media screen and (min-width: $breakpoint__menu) {

			// Only add transition once we have scrolled a little bit
			// Improves behavior when the page is scrolled quickly back to the top

			.site-branding {

				.site-logo img {
					transition: height $duration_scrolled_transition, width $duration_scrolled_transition;
					-webkit-transition: height $duration_scrolled_transition, width $duration_scrolled_transition;
				}
	
				.site-logo {
					transition: line-height $duration_scrolled_transition;
					-webkit-transition: line-height $duration_scrolled_transition;
				}
				
				.site-title-container {
					transition: line-height $duration_scrolled_transition;
					-webkit-transition: line-height $duration_scrolled_transition;
				}
			}

			.site-login {
				transition: line-height $duration_scrolled_transition;
				-webkit-transition: line-height $duration_scrolled_transition;
			}

		}
	}
}

#{$scrolled_selector} {

	.site-header {

		@media screen and (min-width: $breakpoint__menu) {
	
			.site-branding {
	
				.site-logo img {
					height: $height__site-header-inline-scrolled - 20px;
					width: $height__site-header-inline-scrolled - 20px;
				}
	
				.site-logo {
					line-height: $height__site-header-inline-scrolled - 20px;
				}
				
				.site-title-container {
					line-height: $height__site-header-inline-scrolled;
				}
			}

			.site-login {
				line-height: $height__site-header-inline-scrolled;
			}
		}
	}
	
}