.site-header {
	
	.menu-toggle {
		line-height: $height__site-header-mobile;
		top: 0;
	}

	/* Places the main menu beside the site title,
		rather than beneath it */

	@media screen and (min-width: $breakpoint__menu) {

		.menu-toggle {
			line-height: $height__site-header-inline;
			transition: line-height $duration_scrolled_transition;
			-webkit-transition: line-height $duration_scrolled_transition;
		}

		.main-navigation {
			clear: none;
			float: right;
			width: auto;
	
			.inner {
				float: right;
			}
	
			.nav-menu > li > a { /* Top level menu items */
				line-height: $height__site-header-inline;
				transition: line-height $duration_scrolled_transition;
				-webkit-transition: line-height $duration_scrolled_transition;
				padding-bottom: 0;
				padding-top: 0;
			}
		}

	}
}

#{$scrolled_selector} {

	.site-header {

		@media screen and (min-width: $breakpoint__menu) {

			.menu-toggle {
				line-height: $height__site-header-inline-scrolled;
			}
	
			.main-navigation {
		
				.nav-menu > li > a { /* Top level menu items */
					line-height: $height__site-header-inline-scrolled;
				}
			}

		}
		
	}

}