/* Hide the site branding when the mobile menu is open */

body.menu-open {
	/* Small-screen menu styling */
	@media screen and (max-width: $breakpoint__menu) {
		.site-header {
			.site-branding {
				display: none;
			}

			.main-navigation {
				ul.nav-menu {
					top: 0;
					padding-top: 3em;
				}
			}
		}
	}

	&.admin-bar {
		.site-header {
			.main-navigation {
				ul.nav-menu {
					top: 32px;

					@media screen and (max-width: 782px) {
						top: 46px;
					}
				}
			}
		}
	}
}
