$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: $color__link; //purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* Specific parts of the page */

$color__header-background: $color__background-body;
$color__header-text: $color__text-main;
$color__header-link: $color__link;
$color__header-link-hover: $color__link-hover;
$color__header-link-visited: $color__link-visited;

$color__menu-background: $color__background-body;
$color__menu-text: $color__text-main;
$color__menu-link: $color__link;
$color__menu-link-hover: $color__link-hover;
$color__menu-link-visited: $color__link-visited;
$color__menu-link-border: #eee;

$color__menu-submenu-background-color: $color__background-body;
$color__menu-submenu-background-color-hover: $color__background-body;
$color__menu-submenu-text: $color__text-main;
$color__menu-submenu-link: $color__link;
$color__menu-submenu-link-hover: $color__link-hover;
$color__menu-submenu-link-visited: $color__link-visited;
$color__menu-submenu-link-border: $color__menu-link-border;

$color__mobile-menu-background: #fff;
$color__mobile-menu-text: #333;
$color__mobile-menu-link: #333;
$color__mobile-menu-link-hover: royalblue;
$color__mobile-menu-link-visited: $color__mobile-menu-link;
$color__mobile-menu-link-border: #eee;

$color__comments-area-background: $color__background-body;
$color__comments-area-text: $color__text-main;
$color__comments-area-link: $color__link;
$color__comments-area-link-hover: $color__link-hover;
$color__comments-area-link-visited: $color__link-visited;

$color__footer-background: $color__background-body;
$color__footer-text: $color__text-main;
$color__footer-link: $color__link;
$color__footer-link-hover: $color__link-hover;
$color__footer-link-visited: $color__link-visited;