/* Important note regarding units (px, %, etc)

   The -content and -gutter variables are used
   with arithmetic operators (addition and multiplication)
   to calculate breakpoints.

   SASS arithmetic cannot mix px and % variables, therefore
   all -content and -gutter variables here MUST be in px units

   If you want an element to be 100% wide, instead of using 100%
   use a large pixel value (ie: 999999px).
*/

$size__site-content: 1000px;
$size__site-content-with-sidebar: 1200px;
$size__site-sidebar: 25%;
$size__site-content-gutter: 20px;
$size__site-content-gutter-medium: 33px;
$size__site-content-gutter-inner: 3%; /* This value can be px or % */
$size__alignwide: 1200px;

/* .site-header */
/* If you are using the _branding-inline and _menu-inline optionals,
   you will want to use these settings for content and gutter widths,
   rather than the individual .site-branding and .main-navigation
   variables below */
$size__site-header-content: 999999px;
$size__site-header-gutter: 0px;
$size__site-header-gutter-medium: 0px;

/* Inline header heights */
$height__site-header-mobile: 50px;
$height__site-header-inline: 80px; /* Used in optionals */
$height__site-header-inline-scrolled: 60px; /* Used in optionals */
$scrolled_selector: ".scrolled-150"; /* Used in optionals */
$duration_scrolled_transition: 300ms;

/* Sticky header heights, in case they need to be customized */
$height__site-header-mobile-sticky: $height__site-header-mobile;
$height__site-header-inline-sticky: $height__site-header-inline; /* Used in optionals */

/* .site-branding */
/* Set gutters to 0px if setting gutters with .site-header above */ 
$size__site-branding-content: 1200px;
$size__site-branding-gutter: 20px;  
$size__site-branding-gutter-medium: 33px;

/* .main-navigation */
/* Set gutters to 0px if setting gutters with .site-header above */
$size__site-menu-content: 1000px;
$size__site-menu-gutter: 20px;
$size__site-menu-gutter-medium: 33px;

/* .header-image */
$size__site-header-image: 100%;
$size__site-header-image-gutter: 0;
$size__site-header-image-gutter-medium: 0;
$height__site-header-image: 35vw;
$height__site-header-image-medium: 35vw;

/* .site-footer */
$size__site-footer-content: 1000px;
$size__site-footer-gutter: 20px;
$size__site-footer-gutter-medium: 33px;

$breakpoint__medium: 800px; /* Breakpoint at which '-medium' variables take effect */
$breakpoint__sidebar: 900px; /* Breakpoint at which the sidebar is aligned to the side */
$breakpoint__menu: 700px; /* Breakpoint at which the menu transitions from mobile to desktop */
$breakpoint__site-description: 950px; /* Breakpoint below which the .site-description element is hidden */

/* Breakpoint at which the screen width is at least the max content width + gutters */
$breakpoint__site-content-plus-gutters: $size__site-content + ($size__site-content-gutter-medium * 2);

/* Breakpoint at which the screen width is at least the max alignwide width + gutters */
$breakpoint__alignwide-plus-gutters: $size__alignwide + ($size__site-content-gutter-medium * 2);