
/* Fix default column alignments at intermediate screen sizes */

.wp-block-columns {
	&.has-1-column,
	&.has-2-columns,
	&.has-3-columns {
		@media screen and (min-width: 600px) and (max-width: 782px) {
			flex-wrap: nowrap;

			.wp-block-column:last-child {
				margin-right: 0;
			}
		}
	}

	&:not(.has-1-column):not(.has-2-columns):not(.has-3-columns) {
		@media screen and (min-width: 600px) and (max-width: 782px) {
			// display: block;

			.wp-block-column {
				flex-basis: 46%;
				margin-left: 0;

				&:nth-child(even) {
					margin-right: 0;
				}
			}
		}
	}
}

.wp-block-image {
	figure {
		/* Allow floated images to align with surrounding text */
		&.alignleft,
		&.alignright,
		&.aligncenter {
			margin-top: 0;
		}

	}

	img {
		display: block;
	}
}

.wp-block-kadence-rowlayout {
	&.alignfull {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.wp-block-image.alignfull {
		margin-top: 0;
		margin-bottom: 0;
	}
}
