.site-footer {
	color: $color__footer-text;
	background-color: $color__footer-background;

	a {
		color: $color__footer-link;

		&:visited  {
			color: $color__footer-link-visited;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color__footer-link-hover;
		}
	}

	ul, ol {
		margin: 0;
	}

	.site-info {
		color: $color__footer-credits-text;
		background-color: $color__footer-credits-background;
		padding: 1em;
	
		a {
			color: $color__footer-credits-link;
	
			&:visited  {
				color: $color__footer-credits-link-visited;
			}
	
			&:hover,
			&:focus,
			&:active {
				color: $color__footer-credits-link-hover;
			}
		}
	}
}