.site-branding {
	color: $color__header-text;
	background-color: $color__header-background;

	a {
		color: $color__header-link;

		&:visited  {
			color: $color__header-link-visited;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color__header-link-hover;
		}
	}

	.site-logo {
		a, img {
			display: block;
		}
	}
}